
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Owl Carousel
@import "resources/assets/css/owl-carousel/owl.carousel";
//@import "resources/assets/css/owl-carousel/owl.transitions";
//@import "resources/assets/css/owl-carousel/owl.theme";

$fa-font-path: "/assets/fonts";
@import "node_modules/font-awesome/scss/font-awesome";


body{
  color: $DarkColor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.square-borders{
  border-radius: 0;
}

.ratings{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li{
      display: inline-block;
      color: lightgray;
    }.active{
       color: goldenrod;
     }
  }
}



/*==============================
=            TOPBAR            =
==============================*/

.top-bar {border-bottom: solid 1px #d3e0e9 }
.top-bar .navbar-nav > li > a {padding-top:4px; padding-bottom:4px;}
.top-bar .navbar-text {margin: 4px 0;}
.top-bar .navbar {min-height:25px; margin-bottom: 0}
.top-bar .navbar-toggle { padding: 0; }
.top-bar .navbar-toggle .icon-bar { background-color: #888; }
.top-bar .navbar-toggle {margin: 5px 0;}

/*=====  End of TOPBAR  ======*/

/*=====================================
=            HEADER MIDDLE            =
=====================================*/

.header_middle {
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  z-index: 500;
}

.header_middle .logo a{
	display: inline-block;
}

.cart-widget .CTA-cart {
  position: relative;
  padding-left: 70px;
  padding-right: 25px;
  overflow: hidden;
}
.cart-widget .CTA-cart::after {
  color: #fff;
  content: "";
  /*content: "";*/
  position: absolute;
  float: left;
  left:0;
  top: 0;
  font-family: FontAwesome;
  text-align: center;
  width: 45px;
  padding: 6px 0;
  background-color: $primaryColor;
}
.cart-widget { margin-right: 0; position: relative;}
.cart-widget .cart-options .col-md-6{padding: 0;}
.cart-widget .cart-options{padding: 10px; margin: 0;}
.cart-widget .cart-options > div:first-child a{border-right: solid 1px #FFF}
.cart-widget .cart-options a{
	background-color: $primaryColor;
	color: #FFF;
	display: block;
}
.cart-widget .cart-list ul{
	padding: 0;margin: 0;list-style: none;
	overflow-x: auto;
	max-height: 284px;
}
.cart-widget .cart-list {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 14px;
  right: 0;
  list-style: outside none none;
  margin: 2px 0 0;
  width: 300px;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
  /*opacity: 0;*/
  transition: opacity 0.4s ease-in-out;
 
}
/* MOUSE HOVER DISPLAY CART WIDGET IS IN MOBILE CSS*/

@-webkit-keyframes fadeIn {
  0%{ opacity: 0 }
  100% { opacity: 1 }
}
@keyframes fadeIn {
  0%{ opacity: 0 }
  100% { opacity: 1 }
}
.cart-widget .cart-list li.row{margin: 0; padding: 10px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.15); position: relative;overflow: hidden; }
.cart-widget .cart-list li div{padding: 0 10px; float: left;}
.cart-widget .cart-list li .image {width: 70px;}
.cart-widget .cart-list li .detail {width: 220px;}

.cart-widget .cart-list li .fa{
    
	display: inline-block;
	font-size: 28px;
	line-height: 46px;
	text-align: center;
	vertical-align: bottom;
	width: 50px;
	height: 50px;
	
}
.cart-widget .cart-list li .image a{
	background: rgba(255, 255, 255, 1);
	position: absolute;
	left: -50px;
	top: 10px;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	z-index: 10000;
	display: block;
}
.cart-widget .cart-list li:hover .image a{
	left: 10px;
	opacity: 1;
}
.cart-widget .cart-list li .image a:hover{color: rgba(255, 0, 0, 0.5)}



@import "resources/assets/css/navigation";

/*=====  End of HEADER MIDDLE  ======*/


@import "widgets";
@import "product";
@import "product_single";

/*==============================
=            Footer            =
==============================*/

.footer-copy{
    background-color: $primaryColor;

    p{
        color: $whiteLinkColor;
        padding: 15px 0;
        margin-bottom: 0;
    }

    .col-md-6:last-child{
        p{
            text-align: right;
        }
    }
}

.socialized{
    padding: 30px 0;

    label{
        padding-top: 8px;
        /*font-size: 1.15em;*/
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: right;
        li{
            display: inline-block;
            a{
                display: block;
                i{
                    /*padding: 10px;*/
                    background-color: #f00;
                    width: 35px;
                    height: 35px;
                    font-size: 1.3em;
                    line-height: 2em;
                    text-align: center;
                    color: #FFF;
                }
            }
            p {
              font-size: 1.4em;
              font-weight: bold;
              margin-right: 15px;
            }
        }
    }
}

.footer-navigation{
  h3{
    font-size: 1.1em;
    font-weight:bold;
    margin-bottom:25px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      width: 100%;
      margin-bottom:10px;
      a{
        display: block;
        position: relative;
        padding-left: 22px;
        font-size:0.9em;
        color: $DarkColor;

      }
      ::before{
        background-color: $primaryColor;
        color: #fff;
        content: "";
        display: inline-block;
        font-family: FontAwesome;
        font-size: 0.7em;
        left: 0;
        padding: 0px;
        position: absolute;
        text-align: center;
        width: 13px;
        border-radius: 2px;
        margin-top:2px;
      }
    }
  }
}

/*=====  End of Footer  ======*/



/*=====================================
=            MEDIA QUERIES            =
=====================================*/

@import "resources/assets/css/phone";

/*=====  End of MEDIA QUERIES  ======*/
