.product-wrapper{
  background-color: #fff;
  padding-bottom: 15px;
  transition: all 0.2s linear ;

  .product-image{
    //max-width: 300px;
    //width: 100%;
    height: 262px;
    position: relative;
    overflow: hidden;

    > a{
      position: absolute;
      top: 0;
      width: 100%;
      height:100%;
      > img{
        width: 100%;
        height:auto;
        position: absolute;
      }
      > img:first-child{
        top:0;
        transition: all 0.3s linear ;
        //display: none;
      }

      > img:last-child{
        bottom:-100%;
        transition: all 0.3s linear;
        opacity:0;
        //display: none;
      }
    }
    .actions{
      transition: all 0.2s linear;
      position: absolute;
      bottom:-81px;
      z-index: 3;
      width:100%;
      .add-to-links{
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: rgba(0,0,0,0.3);
        padding: 10px 0;
        li{
          display: inline;
          a{
            padding: 5px 10px;
            i{
              font-weight: bold;
              font-size: 15px;
            }
            color: #fff;
          }
        }
      }
      .action-add-cart{
        background-color: $primaryColor;
        padding: 5px 0;
        a{
          display: block;
          text-align: center;
          color: $whiteLinkColor;
          font-size: 18px;
        }:hover{
                   text-decoration: none;
                 }
      }
    }
  }

  .product-name{
    a{
      display: block;
      text-align: center;
      font-size: 0.6em;
      color: $DarkColor;
      transition: all 0.2s linear ;
    }
    a:hover{
      text-decoration: none;
      color: $primaryColor;
    }
  }

  .price-box{
    text-align: center;
    font-size: 18px;
    color: $primaryColor;
    font-weight: 700;
    letter-spacing: 1px;
  }

}
.product-wrapper:hover{
  box-shadow: #ccc 0 0 5px;
  .product-image{
    > a{
      text-decoration: none;
      img{
      }
      img:first-child{
        top:-60%;
        opacity:0;
      }
      img:last-child{
        bottom: 0;
        opacity: 1;
      }
    }
    .actions{
      bottom: 0;
    }
  }
}

.widget .product-wrapper{
  margin: 5px;

  .product-image{
    height: 200px;
  }

  .product-name{
    a{
      font-size: 0.5em;
    }
  }

  .price-box{
    font-size: 16px;
  }

  .ratings{
    font-size: 12px;
  }
}